.FirstDiv{
    color: black;
    font-weight: bold;
}

.SecondDiv{
    background-color: gray;
}

#singleout{
    color: rgb(128, 0, 0);
    text-decoration: underline;
}

h3+ul{
    border: 3px dotted;
    color: grey;
    font-weight: bold;
}

li a{
    color: black;
}

li a[href="www.npr.org"]{
    color: red;
    border: 5px solid blue;
}
/* *{
    color: honeydew;
} */


