body{
    /* background : sunset */
    background: url('../images/Senja.jpg');
    background-repeat: repeat; 
    /* sengaja biar penuh */
    
}

div{
    background:white;
    border: orange;
    border-width: thick; /* 10px */
    border-style: dotted;
}

p{
    color: black;
}

span{
    background: blue;
    color: white;
}